:root {
  --color-primary: #272C38; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh; }

.header {
  z-index: 99;
  position: fixed;
  top: 0;
  background: var(--color-primary);
  width: 100%; }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 7rem;
    margin: 0 auto; }
    .header__container h1 {
      color: #85F276;
      font-size: 3.3rem; }
  .header__main-nav {
    display: flex; }
    .header__main-nav li {
      font-weight: 400;
      font-size: 2rem;
      padding-left: 3.5rem; }
    .header__main-nav a {
      color: #fff;
      text-decoration: none; }
    .header__main-nav li > a {
      color: #fff;
      position: relative;
      text-decoration: none;
      padding-bottom: 3.5px; }
    .header__main-nav li > a:hover {
      color: #fff; }
    .header__main-nav li > a::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #85F276;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
    .header__main-nav li > a:hover::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color-primary);
  min-height: 100vh;
  text-align: center; }
  .welcome p {
    color: #E5E5E5;
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif; }
  .welcome__name {
    font-weight: 600;
    color: #85F276; }

.main {
  height: 5000px; }

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  background: var(--color-primary);
  padding-top: 10px;
  padding-bottom: 10px; }

footer a {
  color: #fff; }

footer a:hover {
  color: #2db37f; }

footer span {
  font-size: 13px; }
