/* =================================
  BASE STYLES
==================================== */
/* ================= Variables ================= */
:root {
  --color-primary: #1a1a1d;
  --color-secondary: #AD1120;
  --color-secondary-light: #C71425;
  --color-welcome-text: #E5E5E5;
  --color-main-text: #44444C;
  --font-welcome: 'Poppins', sans-serif;
  --font-content: 'Raleway', sans-serif;
  --introduction-bg: #F5F5F5;
  --summary-bg: #F5F5F5; }

/* ================= Basic Formatting ================= */
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: var(--font-welcome);
  font-weight: 400;
  background-color: var(--introduction-bg); }

/* =================================
  HEADER
==================================== */
.header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-primary);
  /* ================= Nav ================= */ }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    margin: 0 auto; }
    .header__container h1 {
      color: var(--color-welcome-text);
      font-size: 3.3rem; }
    .header__container span {
      color: var(--color-secondary-light); }
  .header__main-nav {
    display: flex; }
    .header__main-nav li {
      font-size: 1.7rem;
      padding-left: 3.5rem; }
    .header__main-nav a {
      color: var(--color-welcome-text);
      text-decoration: none; }
    .header__main-nav li > a {
      position: relative;
      padding-bottom: 3.5px; }
    .header__main-nav li > a::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: var(--color-secondary-light);
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.4s ease-in-out 0s; }
    .header__main-nav li > a:hover::before {
      visibility: visible;
      transform: scaleX(1); }

/* =================================
  WELCOME SECTION
==================================== */
/* ================= General ================= */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--color-primary);
  color: var(--color-welcome-text);
  min-height: 100vh;
  padding-top: 5rem; }
  .welcome h2 {
    font-size: 4rem;
    font-weight: 500; }
  .welcome__name {
    font-weight: 600;
    color: var(--color-secondary-light); }
  .welcome h3 {
    font-size: 3rem;
    font-weight: 200; }

/* ================= Button ================= */
.btn-container {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-welcome-text);
  background-image: linear-gradient(180deg, var(--color-secondary-light) 0, var(--color-secondary) 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  width: 31rem; }
  .btn:not(:last-child) {
    margin-right: 4rem; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 1.7rem 7rem; }
  .btn__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 1.7rem 0; }
  .btn:hover {
    background-image: linear-gradient(180deg, var(--color-secondary-light) 0, var(--color-secondary) 100%); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

/* ================= Arrow ================= */
.shortcuts-container {
  display: flex;
  align-items: center; }
  .shortcuts-container svg {
    height: 3.7rem;
    width: 3.7rem;
    fill: #E5E5E5;
    transition: all .2s; }
    .shortcuts-container svg:not(:last-child) {
      margin-right: 3rem; }
    .shortcuts-container svg:hover {
      fill: var(--color-secondary);
      cursor: pointer; }

/* ================= Arrow ================= */
.arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  height: 3rem;
  width: 3rem;
  filter: invert(94%) sepia(94%) saturate(0%) hue-rotate(232deg) brightness(106%) contrast(106%); }

/* =================================
  INTRODUCTION SECTION
==================================== */
.introduction {
  background-color: var(--introduction-bg);
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-main-text);
  font-family: var(--font-content); }
  .introduction__heading {
    padding-bottom: 4.5rem;
    margin-top: 5rem;
    font-family: 'Ubuntu', sans-serif; }
    .introduction__heading p {
      font-size: 4rem;
      font-weight: 600; }
  .introduction__points {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 8rem 9rem 8rem; }
  .introduction__rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 30rem;
    width: 25rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    transition: transform .3s; }
    .introduction__rectangle:hover {
      transform: translateY(-1.5rem) scale(1.03); }
  .introduction__title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem; }
  .introduction__info {
    font-size: 1.5rem;
    font-weight: 400; }
  .introduction__icons {
    width: 60%;
    padding-bottom: 1rem; }
  .introduction span {
    color: var(--color-secondary-light);
    font-weight: 700; }

/* =================================
  SUMMARY SECTION
==================================== */
.summary {
  background-color: var(--summary-bg);
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid green 2px;
  padding: 0 10rem; }
  .summary__skills {
    border: solid red 2px;
    height: 700px;
    width: 500px; }
  .summary__me {
    border: solid blue 2px;
    height: 700px;
    width: 500px; }

/* ====================================================================================================== */
.main {
  height: 1000px;
  background-color: #1a1a1d; }

footer {
  width: 100%;
  text-align: center;
  color: #E5E5E5;
  background: var(--color-secondary);
  padding-top: 10px;
  padding-bottom: 10px; }
  footer a {
    color: #E5E5E5; }
    footer a:hover {
      color: #2db37f; }
  footer span {
    font-size: 13px; }
